* {
    all:unset
}

tooltip {
    font-family: Ubuntu;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(40, 40, 40, 0.7);
}

.main {
    background-color: #323232;
    border-radius: 8px;
}

.separator {
    color: #2b4e72;
    font-size: 18px;
    margin: 0 15px;
}

.clock {
    font-weight: bold;
    font-family: Ubuntu;
    background-color: #585858;
    border-radius: 0 8px 8px 0;
    padding: 0 15px;
}

.hyprmode {
    font-weight: bold;
    font-family: UbuntuMono;
    font-size: 17px;
    background-color: #4c4c4c;
    border-radius: 8px 0 0 8px;
    padding: 0 15px;
}

.hyprtitle {
    font-family: Ubuntu;
    font-weight: bold;
}

.hyprspace {
    background-color: #323232;
    padding: 0 6px;
    padding-left: 9px;
}

.hyprspace-item {
    padding: 0 5px;
    margin-top: 4px;
}

.audio-control {
    background-color: #454545;
    padding: 0 20px;
}

.audio-control scale trough highlight {
    background-color: #FFFFFF;
    border-radius: 25px;
}

.audio-control scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 100px;
}

.sys-info {
    background-color: #3c3c3c;
    padding: 0 10px;
    padding-left: 18px;
    font-weight: bold;
    font-family: UbuntuMono;
}

.cpu-info {
    font-size: 16px;
    min-width: 10px;
}

.mem-info {
    font-size: 16px;
    min-width: 10px;
}

.kb-layout {
    background-color: #4f4f4f;
    font-family: UbuntuMono;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
}
