.bar {
    font-family: Ubuntu;
    font-weight: bold;
    background-color: rgb(31, 31, 40);
    border-radius: 0px;
    color: rgb(220, 215, 186);
}

#clock {
    margin-right: 10px;
}

#submap {
    margin-left: 10px;
}

#workspaces button {
    padding-right: 10px;
    color: rgb(220, 215, 186);
}

#workspaces button.active {
    border-color: rgb(220, 215, 186);
    border-width: 1px;
}

#custom-separator {
    color: rgb(220, 215, 186);
    font-size: 19px;
}

#custom-spotify {
    min-width: 250px;
}

#pulseaudio {
    min-width: 70px;
    margin-left: 5px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 2px;
    min-width: 80px;
    border-radius: 15px;
    color: rgb(220, 215, 186);
    background-color: rgb(12, 12, 12);
}

#pulseaudio-slider highlight {
    border-radius: 15px;
    border-color: white;
    background-color: white;
}
